:root {
    --dark-blue: #212740;
    --medium-blue: #394264;
    --light-blue: #23acbe;
    --blue: #3264a8;
    --light-red: #df465f;
    --white: #d4d5df;
    --light-orange: #f3a25d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px 60px;
}

.loading-gif {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-50%);
}