:root {
    --dark-blue: #2D3E50;
    --medium-blue: #425B73;
    --light-blue: #1EBCA5;
    --light-gray: #EAF0F6;
    --white: #F9FBFD;
    --orange: #F97600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
}

.loading-gif {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-50%);
}