@import url('https://fonts.googleapis.com/css?family=Heebo');

:root {
    --black: #2C3338;
    --dark-blue: #2D3E50;
    --medium-blue: #425B73;
    --light-blue: #1EBCA5;
    --light-gray: #EAF0F6;
    --white: #F9FBFD;
    --orange: #F97600;
    --light-pink: #EA4C88;
    --green: #28a745;
    --red: #dc3545;
    --yellow: #FD0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    font-family: 'Heebo', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

.loading-gif {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-50%);
}

.error-msg,
.norm-msg {
    margin-bottom: 5px;
}

.error-msg p {
    color: var(--red);
    text-align: center;
}

.norm-msg p {
    color: var(--green);
    text-align: center;
}

.dash,
.favs {
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px 0;
}